Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/SoulCity
/Content/ParagonDekker
/Content/NaturePackage
/Content/PhotoR_Backgrounds
/Content/MegaScans_Assets
/Content/Trash
Build